vendor/
composer.lock
.DS_Store
/node_modules
/vendor
.idea
.idea/
/.idea
/.idea/*
/.vscode
/nbproject
/.vagrant
npm-debug.log
yarn-error.log
.phpunit.result.cache

Example2\.php

Example3\.php

Example4\.php

request\.xml

response\.xml

*.log
